<h1>The Small Reviews</h1>

<a href="/reviews/new">Create a Review</a> <a href="/logout">Logout</a>
<br>
<br>
<ul>
  <%Review.all.each do |review|%>
    <p><li><strong><a href="/reviews/<%=review.id %>"><%=review.title %></strong></a> 
    <p><small><%=review.user.username %></small></p>
      <p><%=review.content %></p>
      <small>Created: <%=review.created_at %></small> <small>Updated: <%=review.updated_at %></small>
  </li>
  <br>
  <%end%>
</ul></p> 




